*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    background-color: #0F1111;
    color: white;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
    height: 40px;
}

/* box2 */
.nav-address{
    margin-top: 7px;
}
.address-first{
    color: cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-icon{
    display: flex;
}
.address-second{
    margin-left: 3px;
}

/* box 3 */
.nav-search{
    display: flex;
    justify-content:space-evenly ;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    margin-top: 9px;
}
.search-select{
    
    background-color:#f3f3f3 ;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size:1rem ;
    border: none;

}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.nav-search:hover{
    border: 2px solid orange;
}
/* box 4 */
samp{
    font-size: 0.7rem;
    margin-top: 8px;
}

.nav-second{
    font-size:85 rem;
    font-weight: 700;
    justify-content: center;
}
/* box 5 */
.nav-cart{
    display: flex;
    align-items: center;
    margin-top: 8px;
    height: 40px;
    width: 70px;
}
 /* panel */
 .panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
 }

 .panel-ops p{
    display: inline;
    margin-left: 15px;
 }

 .panel-ops {
    width: 70%;
    font-size: 0.85rem;
 }

 .panel-deals{
    font-size: 0.9rem;
    font-weight: 700;

 }

 /* hero section */
 .hero-section{
    background-image: url("hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
 }

 .hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;


 }

 .hero-msg a{
    color: #007185;
 }
 /* shop-section */
 .shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
 }
 .box{
    border: 2px solid black;
    height: 400px;
    width: 23%;
    background-color: white;
 }

 .box-img{
    height: 300px;
 }

 .box-content{
    margin: 1rem;
    margin-top: 1rem;
 }

 .box-content p{
    color: #007185;
 }

  /* foot */
  .footer{
    margin-top: 15px;
  }

  .foot-panel{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
  }
  .foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    padding: ;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot-panel4{
    background-color: #0F1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
    
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;
}
.foot-panel2 p{
    font-size: 20px;
    padding: 20px;
    
}
.foot-panel{
    justify-content: center;
    
}
.footer-panel2 a{
    font-size: 8px;
}